/* Styly pro navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #333;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
}

/* Mobilní styly */
@media (max-width: 768px) {
    .nav-list {
        display: none; /* Skrýt navigaci */
        flex-direction: column; /* Změna na sloupcové uspořádání */
        position: absolute; /* Umístění absolutně */
        top: 70px; /* Umístění pod navbar */
        right: 0; /* Umístění napravo */
        background-color: #fff; /* Pozadí menu */
        width: 100%; /* Šířka menu */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-list.active {
        display: flex; /* Zobrazit menu, když je aktivní */
    }

    .menu-toggle {
        display: block; /* Zobrazit hamburger menu */
    }
}
