/* Kontakt styl */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #f0f4f8, #d9e6f2); /* Gradient pozadí */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%; /* Nastavuje šířku kontejneru */
}

/* Opravená dvojitá tečka na začátku třídy */
.contact-image img {
    width: 100%; /* Obrázek se přizpůsobí šířce */
    max-width: 320px; /* Změňte maximální šířku na 320 pixelů */
    border-radius: 10px; /* Zaoblení rohů obrázku */
}

.contact-content {
    flex: 2; /* Text zabírá více místa než obrázek */
    margin-left: 20px; /* Mezera mezi obrázkem a textem */
}

#contact-form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%; /* Nastavuje šířku formuláře */
}

form {
    display: flex;
    flex-direction: column; /* Sloupcové uspořádání */
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #ECF4F9;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #B3B9BD;
}

h1, h2, h3 {
    color: #ffffff;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}
